Repository chipster6/COGNITIVE_EVALUATION_HARNESS: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint, eslint-if-present

markdownlint:
  name: markdownlint
  entry: markdownlint
  language: system
  args:
  - --config
  - .markdownlint.json

yamllint:
  name: yamllint
  entry: yamllint
  language: system
  args:
  - -c
  - .yamllint.yml

eslint-if-present:
  name: eslint-if-present
  entry: scripts/hooks/eslint-if-present.sh
  language: system

fix(ci): use lowercase GHCR tag via computed REPO_LC
  .github/workflows/devimage.yml
  .github/workflows/scout.yml
Due: yamllint

chore(ci): switch image scan from Docker Scout to Trivy (fail on CRITICAL,HIGH)
  .github/workflows/scout.yml
Due: yamllint

fix(ci): login to GHCR before Trivy scan to allow pulling private image
  .github/workflows/scout.yml
Due: yamllint

chore(devimage): apt-get upgrade to reduce CVEs; scan gate set to CRITICAL only
  .devcontainer/Dockerfile
  .github/workflows/scout.yml
Due: yamllint

harden dev image: python:3.12-slim-bookworm; remove node/npm from image; enable .trivyignore; add Trivy timeout; weekly rebuild; add SECURITY.md
  .devcontainer/Dockerfile
  .github/workflows/devimage.yml
  .github/workflows/scout.yml
  .trivyignore
  SECURITY.md
Due: markdownlint, yamllint

scan by digest: setup buildx, resolve digest, and scan ghcr image@digest
  .github/workflows/scout.yml
Due: yamllint

lint(ci): fix YAML bracket/brace spacing; exclude 1-research from M0 md/yaml lint; relax markdownlint rules; fix governance YAML
  .github/workflows/devimage.yml
  .github/workflows/m0-intake-validate.yml
  .github/workflows/m1-research-validate.yml
  .github/workflows/scout.yml
  .markdownlint.json
  .yamllint.yml
  docs/lifecycle/1-research/tool_use_fidelity_governance.yaml
Due: yamllint

sec: pin base image by digest via build args; ci: nightly Trivy rescan; docs: fix markdownlint (headings/lists/tables, link formatting) and re-enable strict rules
  .devcontainer/Dockerfile
  .github/pull_request_template.md
  .github/workflows/devimage.yml
  .github/workflows/nightly-rescan.yml
  .markdownlint.json
  docs/lifecycle/1-research/env.md
  docs/lifecycle/1-research/tool_use_fidelity_data_provenance.md
  docs/lifecycle/1-research/tool_use_fidelity_decision_log.md
  docs/lifecycle/1-research/tool_use_fidelity_eval_design.md
  docs/lifecycle/1-research/tool_use_fidelity_research.md
  docs/lifecycle/1-research/tool_use_fidelity_scope.md
  docs/lifecycle/1-research/tool_use_fidelity_uncertainty.md
  docs/lifecycle/Checkpoint-1-Research-and-Definition.md
Due: markdownlint, yamllint

lint: disable MD034 (no-bare-urls) and MD047 (trailing newline) to pass legacy docs; will fix content in follow-up
  .markdownlint.json
Due: none

lint: fix MD022/MD032/MD031 spacing; add EOF newline to nightly-rescan.yml
  .github/workflows/nightly-rescan.yml
  SECURITY.md
  docs/lifecycle/Checkpoint-1-Research-and-Definition.md
Due: markdownlint, yamllint

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  yamllint: any of: \.(yaml|yml)$
  eslint-if-present: any of: \.(js|jsx|ts|tsx)$
